* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
  }
  
  #grid-container {
    display: flex;
    flex-direction: column;
    min-width: 500px;
    min-height: 500px;
  }
  
  .row {
    display: flex;
    flex: 1;
  }
  
  .cell {
    flex: 1;
    background-color: rgb(163, 159, 159);
    border: 1px solid white;
  }
  
  .choose {
    width: 100px;
    height: 30px;
    background-color: black;
    color: white;
    margin-bottom: 15px;
    border-radius: 5px;
  }
  